<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>de.bernhard-baehr.pdp8e.GeneralPreferences</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.2</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.2</string>
	<key>NSMainNibFile</key>
	<string>GeneralPreferences</string>
	<key>NSPrefPaneIconFile</key>
	<string>generalPrefIcon.tiff</string>
	<key>NSPrefPaneIconLabel</key>
	<string>General</string>
	<key>NSPrincipalClass</key>
	<string>GeneralPreferences</string>
	<key>OrderInPreferencesPanelToolbar</key>
	<string>01</string>
	<key>PrefPaneWindowTitle</key>
	<string>General Preferences</string>
</dict>
</plist>
