<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
 *	PDP-8/E Simulator
 *
 *	Copyright © 1994-2014 Bernhard Baehr
 *
 *	io-info.plist - PC8-E Paper Tape Reader and Punch I/O info property list
 *
 *	This file is part of PDP-8/E Simulator.
 *
 *	PDP-8/E Simulator is free software: you can redistribute it and/or modify
 *	it under the terms of the GNU General Public License as published by
 *	the Free Software Foundation, either version 3 of the License, or
 *	(at your option) any later version.
 *
 *	This program is distributed in the hope that it will be useful,
 *	but WITHOUT ANY WARRANTY; without even the implied warranty of
 *	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *	GNU General Public License for more details.
 *
 *	You should have received a copy of the GNU General Public License
 *	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<dict>
	<key>ioflags</key>
	<array>
		<string>PC8-E Reader</string>
		<string>PC8-E Punch</string>
	</array>
	<key>ioaddresses</key>
	<array>
		<string>1</string>
		<string>2</string>
	</array>
	<key>iots</key>
	<array>
		<!-- 601x reader -->
		<string>RPE</string>
		<string>RSF</string>
		<string>RRB</string>
		<string></string>
		<string>RFC</string>
		<string></string>
		<string>RCC</string>
		<string></string>
		<!-- 602x - punch -->
		<string>PCE</string>
		<string>PSF</string>
		<string>PCF</string>
		<string></string>
		<string>PPC</string>
		<string></string>
		<string>PLS</string>
		<string></string>
	</array>
</dict>
</plist>
